
# 工程目录
PROJECT_DIR=" "

# ipa包存放位置
APP_DIR=" "

# ipa包名
APP_NAME=" "

# workspace name
WORKSPACE_NAME=" "

# scheme name
SCHEME_NAME=" "

# 编译的方式,Release,Debug,Adhoc
CONFIGURATION="Adhoc"

# profile name
PROFILE_NAME="XC Ad Hoc:  "

# SDK版本
SDK_VERSION="iphoneos9.2"

# archive destination
ARCHIVE_DESTINATION="generic/platform=iOS"

# fir.im token
FIR_TOKEN=" "
